@font-face {
  font-family: Roboto;
  src: url(../fonts/static/EBGaramond-Medium.ttf);
}

:root {
  --main-color: #eb4449;
  --black: #13131a;
  --bachground: #1a2127;
  --border: 1px solid rgba(255, 255, 255, 0.3);
}

* {
  font-family: Roboto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear; /*Read it again*/
}

html{
    font-size:15px;
    overflow-x: hidden;
    scroll-padding-top: 18px;
    scroll-behavior: smooth;
}

body{
    background-color: var(--bachground);
}

section{
    padding: 2rem 7rem;
}

.heading{
    text-align: center;
    padding: 6rem 3rem;
    padding-bottom: 15px;
    font-size: 30px;
}
.heading h1{
    font-size: 30px;
    color: white;
}

.heading span{
    color: var(--main-color);
    text-transform: uppercase;

}


.logo{
  height: 100px;
}

.logo img{
    height: 100%;
}

.header{
    background-color: var(--bachground);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

}

.header .navbar a{
    margin: 5px;
    color: var(--main-color);
    font-size: 20px;
    color: white;

}

.header .navbar a:hover{
    color: var(--main-color);
    border-bottom: 0.1rem solid var(--main-color);
    padding-bottom: .5rem;
}



.header .icons div{
    color: white;
    cursor: pointer;
    font-size: 17px;
    margin: 5px;
}

.header .icons div:hover{
    color: var(--main-color);
}

#menuButton{
    display: none;
}


.header .searchForm{
    position: absolute;
    top: 115%;
    right: 7%;
    background-color: white;
    width: 35rem;
    height: 3rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;/* question*/
}

.header .searchForm.active{
    transform: scaleY(1);
}



.header .searchForm input{
    height: 100%;
    width: 100%;
    font-size: 17px;
    color: var(--black);
    padding: 1rem;
    text-transform: none;/*this is a question*/
}

.header .searchForm label{
    cursor: pointer;
    font-size: 17px;
    margin-right: 1.5rem;
    color: var(--black);
}


.header .searchForm label:hover{
    color: var(--main-color);
}


.header .cartItemsContainer{
    position: absolute;
    top: 100%;
    right: -100%;
    height: calc(100vh - 9.5rem);
    width: 30rem;
    background-color: rgb(174, 171, 171);
    padding: 0 1.5rem;
    overflow-y: scroll;

}

.header .cartItemsContainer.active{
    right: 0;
    width: 100%;
}



.header .cartItemsContainer .cartItem{
    position: relative;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;/*question*/

}

.header .cartItemsContainer .cartItem .fa-times{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size:17px;
    cursor: pointer;
    color: var(--black);
}

.header .cartItemsContainer .cartItem .fa-times:hover{
    color: var(--main-color);

}


.header .cartItemsContainer .cartItem .content h3{
    font: 17px;
    color: var(--black);
    padding-bottom: 4px;
}


.header .cartItemsContainer .cartItem .content .price{
    font-size: 15px;
    color: #eb4449;
}


.firstPic{
    height: 200px;

}

.firstPic img{
    height: 100%;
}


.secondPic{
    height: 200px;
 
}

.secondPic img{
    height: 100%;
}

.btn{
    margin-bottom: 15px;
    display: inline-block;
    padding: 10px 50px;
    font-size: 17px;
    color: white;
    background-color: var(--main-color);
    cursor: pointer;
}

.btn:hover{
    letter-spacing: 4px;
    background-color: var(--black);
    color: white;
}


.header .cartItemsContainer.active .btn{
    width: 100%;
    text-align: center;
}

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(../images/2729960.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content{
    max-width: 540px;
}

.home .content h3{
    font-size: 60px;
    text-transform: uppercase;
    color: var(--main-color);
}

.home .content p{
    font-size: 20px;
    font-weight: bolder;
    line-height: 1.8;
    padding: 1rem 0;
    color: #eee;
    color:rgb(255, 255, 255);

    
}

.about .row{
    display: flex;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: var(--bachground);
    flex-wrap: wrap;
    justify-content:center;
    color: white;
}

.about .row .image{
  flex: 1 1 45rem;
  
}

.about .row .image img{
    width: 60%;
}

.about .row image .content{
    flex: 1 1 45rem;
    padding: 2rem;
}



.about .row .content h3{
    font-size: 25px;
    color: white;
}

.about .row .content p{
    font-size: 15px;
    color:white;
    padding: 1rem 0;
    line-height: 1.8;
}

.menu .boxContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px ,1fr));
    gap: 1.5rem;
}

.menu .boxContainer .box{
     padding: 5rem;
    text-align: center; 
    border:var(--border) ;
}

.menu .heading{
    color: white;
}

.menu .boxContainer .box:hover{
    background-color: rgb(174, 171, 171);
}

.menu .boxContainer .box:hover .price{
    color: var(--black);
}

.menu .boxContainer .box:hover .price span{
    color: var(--black);
}

.menu .boxContainer .box:hover h3{
    color: var(--black);
}

.menu .boxContainer .box img{
    height: 10rem;
}

.menu .boxContainer .box h3{
    color: #fff;
    font-size: 17px;
    padding: 1rem 0;
}

.menu .boxContainer .box .price{
    color: white;
    font-size: 20px;
    padding: 0.5rem 0;

}

.menu .boxContainer .box .price span{
    color: white;
    font-size: 15px;
    text-decoration: line-through;
    
}

.products .boxContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px ,1fr));
    gap: 1.5rem;
}

.products .boxContainer .box{
    text-align: center;
    border: var(--border);
    padding: 2rem;
}
 
.products .boxContainer .box .icons a{
    height: 3rem;
    width: 3rem;
    line-height: 40px;
    font-size: 17px;
    border: var(--border);
    color: white;
    margin: .3rem;
    

}

.products .boxContainer .box .icons a:hover{
    background-color: var(--main-color);
}
 
.products .heading {
    color: white;
}

 
.products .image{
  /* width: 100px; */
}

.products .image img{
   width: 200px;
} 


.products .boxContainer .box .content h3{
    color: wheat;
    font-size:12px ;

}

.products .boxContainer .box .content .stars{
    padding: 1.5rem;
}

.products .boxContainer .box .content .stars i{
    font-size: 1.7rem;
    color: var(--main-color);
}


.products .boxContainer .box .content .price{
    color: white;
    font-size: 20px;
}

.products .boxContainer .box .content .price span{
    text-decoration: line-through;
    font-weight: lighter;
    font-size: 15px;
}

.review .heading{
    color: white;
}

.contact .heading{
    color: white;
}



.review .box img{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    object-fit: cover;
 } 


 .review .boxContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px ,1fr));
    gap: 1.5rem;
}

.review .boxContainer .box{
    text-align: center;
    border: var(--border);
    padding: 3rem 2rem;
}
.review .boxContainer .box p{
    font-size: 15px;
    line-height: 1.8;
    color: white;
    padding: 2rem 0;
}


.review .boxContainer .box h3{
    padding: 1rem 0;
    font-size: 17px;
    color: white;
}


.review .boxContainer .stars i{
    font-size: 14px;
    color: var(--main-color);
}

.contact .row{
    display: flex;
    align-items: center;
    background-color: var(--bachground);
    flex-wrap: wrap;
}

.contact .row .map{
    flex: 1 1 45rem; 
    width: 100%;
    object-fit: cover;

}

.contact .row form{
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;

}

.contact .row form h3{
    text-transform: uppercase;
    font: 3.6rem;
    color: white;
}


.contact .row form .inputBox{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: var(--bachground);
    border: var(--border);
}

.contact .row form .inputBox span{
    color: white;
    font-size: 2rem;
    padding-left: 2rem;
}

.contact .row form .inputBox input{
    width: 100%;
    padding: 2rem;
    font-size: 17px;
    text-transform: none;
    background: none;
    color : white
    ;
}





















/* media query */
@media (max-width:900px ){
    html{
        font-size:8px;
        
    }
    
    .header{
        padding: 2rem 2.5rem;
    }
    .products .boxContainer .box .icons a{
        height: 5rem;
        width: 5rem;
        line-height: 40px;
        font-size: 17px;
        border: var(--border);
        color: white;
        margin: .3rem;
        
    
    }
  
}

@media (max-width:768px ){

    #menuButton{
        display: inline-block;
    }

    .header .navbar{
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: rgb(174, 171, 171);;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar.active{
        right: 0;
    }

    .header .navbar a{
        color: var(--black);
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 17px;
    }

    .header .searchForm{
        width: 90%;
        right: 16px;
    }
    .header .cartItemsContainer.active .btn{
        width: 100%;
        text-align: center;
       
    }

    .btn{
        margin-bottom: 100px;
        display: inline-block;
        padding: 10px 50px;
        font-size: 17px;
        color: white;
        background-color: var(--main-color);
        cursor: pointer;
    }
    .home{
        background-position: left;
        justify-content:center;
        text-align: center;
    }

    .home .content h3{
        font-size: 35px;
    }

    .home .content p{
        font-size: 20px;
    }
}

@media (max-width:450px ){
    html{
        font-size:6px;
        
    }
 
}














